.label {
  font-family: 'Open Sans', sans-serif;
  font-size: .9rem;
  font-variant: small-caps;
  font-weight: 700;
}

.pips {
  font-family: 'Courier New', 'monospace';
  font-size: 24px;
  line-height: .9rem;
}
