@import '../../colors';

$base-color: $grey-50;

.diamond {
  height: 100%;
  max-height: 60px;
  stroke: $base-color;
  stroke-width: 2;

  .empty {
    fill: none;
  }

  .occupied {
    fill: $base-color;
  }
}
