@import '../../colors';

@mixin webkit-scrollbar {
  &::-webkit-scrollbar {
    height: 4px;
    width: 4px;
  }

  &::-webkit-scrollbar-button {
    background: $grey-50;
    height: 0;
    width: 0;
  }

  &::-webkit-scrollbar-thumb {
    background: $grey-400;
    border: 0;
    border-radius: 2px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $grey-50;
  }

  &::-webkit-scrollbar-thumb:active {
    background: $grey-50;
  }

  &::-webkit-scrollbar-track {
    background: $wiggly-green;
    border: 0;
    border-radius: 50px;
  }

  &::-webkit-scrollbar-track:hover {
    background: $grey-600;
  }

  &::-webkit-scrollbar-track:active {
    background: $grey-600;
  }

  &::-webkit-scrollbar-corner {
    background: transparent;
  }
}

.scorecard {
  padding: .4rem;

  .inning {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-variant: normal;
    line-height: 1.4rem;
  }

  .teams {
    border-left: 8px;
    font-family: 'Lora', serif;
    font-size: 1.6rem;
    font-variant: small-caps;
    margin-bottom: .4rem;

  }

  .visualization {
    padding-bottom: .4rem;
  }

  .lastupdate {
    font-size: .8rem;
    font-style: italic;
    overflow: hidden;
    padding-left: .8rem;
  }

  @mixin messages {
    height: 130px;
    position: relative;
  }

  .messages {
    @include messages;
    overflow: hidden;
  }

  .pausedmessages {
    @include webkit-scrollbar;
    @include messages;
    overflow: scroll;
    scrollbar-color: $grey-400 $wiggly-green;
    scrollbar-width: thin;
  }

  .message {
    font-size: .8rem;
    font-style: italic;
    padding: 0;
  }

  .abomination {
    color: $grey-400;
  }
}
