@import '../colors';

@mixin leaguename {
  background-color: $wiggly-green;
  font-family: 'Open Sans', serif;
  font-size: 3rem;
  font-weight: 700;
}

.header {
  .good {
    @include leaguename;
    border-top-left-radius: 32px;
    padding-right: 2rem;
  }

  .evil {
    @include leaguename;
    border-top-right-radius: 32px;
    padding-left: 2rem;
  }

  .goodspace {
    background-color: $wiggly-green;
    height: 50%;

    .goodmask {
      border-bottom-right-radius: 8px;
      height: 100%;
      width: 100%;
    }
  }

  .goodshoulder {
    background-color: $wiggly-green;
    border-top-left-radius: 16px;
    height: 50%;
  }

  .evilspace {
    background-color: $wiggly-green;
    height: 50%;

    .evilmask {
      border-bottom-left-radius: 8px;
      height: 100%;
      width: 100%;
    }
  }

  .evilshoulder {
    background-color: $wiggly-green;
    border-top-right-radius: 16px;
    height: 50%;
  }
}

.green {
  background-color: $wiggly-green;
}

.scoreboard {
  background-color: $wiggly-green;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;

  .footnote {
    color: $grey-300;
    font-size: 1rem;
    font-style: italic;
    padding-bottom: .4rem;
    padding-right: 2rem;
  }
}
