@mixin inning-box {
  border-bottom-left-radius: 8px;
  border-top-left-radius: 4px;
  border-top-right-radius: 8px;
  min-width: 4rem;
  min-height: 1.4rem;
  padding: 0 .4rem;
  font-weight: 700;
  vertical-align: middle;
}

.upcoming {
  @include inning-box;

  background-color: #666;
}

.playing {
  @include inning-box;

  background-color: green;

  .uparrow {
    font-size: .7rem;
    font-weight: 400;
    vertical-align: text-top;
  }

  .downarrow {
    font-size: .7rem;
    font-weight: 400;
    vertical-align: text-bottom;
  }
}

.shame {
  @include inning-box;

  background-color: purple;
}

.final {
  @include inning-box;

  background-color: red;
  border-top-left-radius: 8px;

  .extrainnings {
    font-weight: 400;
  }
}

.finalshame {
  font-family: 'Lora', serif;
  font-style: italic;
  margin-left: .4rem;
}
