$teams-line-height: 2.6rem;

@mixin teamlogo {
  line-height: $teams-line-height;
  margin-right: .4rem;
  padding: 0 .4rem;
}

.scorecard {
  min-width: 30vw;
  padding: .4rem;

  .teams {
    border-left: 8px;
    font-family: 'Lora', serif;
    font-size: 1.6rem;
    font-variant: small-caps;
    line-height: $teams-line-height;

    .inning {
      font-family: 'Open Sans', sans-serif;
      font-size: 1rem;
      font-variant: normal;
      line-height: 1.4rem;
    }

    .away {
      border-top: 1px solid;
      border-top-left-radius: 8px;
    }

    .home {
      border-bottom: 1px solid;
      border-bottom-left-radius: 8px;
    }

    .awayteamlogo {
      @include teamlogo;
      border-top-left-radius: 8px;
    }

    .hometeamlogo {
      @include teamlogo;
      border-bottom-left-radius: 8px;
    }

    .odds {
      font-family: 'Open Sans', sans-serif;
      font-size: .8rem;
      font-style: italic;
      line-height: 2.4rem;
    }

    .score {
      font-family: 'Open Sans', sans-serif;
      font-size: 1.8rem;
      font-weight: 700;
    }
  }

  .atbat {
    padding: .4rem;
  }

  .lastupdate {
    border-top: solid #000000;
    font-size: .9rem;
    font-style: italic;
    margin-top: 1rem;
    padding-top: .4rem;
  }
}
