$teams-line-height: 2.6rem;

.scorecard {
  min-width: 30vw;
  padding: .2rem;

  .teams {
    font-family: 'Lora', serif;
    font-size: 1.6rem;
    font-variant: small-caps;
    line-height: $teams-line-height;
    padding-left: .4rem;

    .away {
      border-top: 1px solid;
    }

    .home {
      border-bottom: 1px solid;
    }

    .teamlogo {
      line-height: $teams-line-height;
      margin-right: .4rem;
      padding: 0 .4rem;
    }

    .score {
      font-family: 'Oswald', sans-serif;
      font-size: 1.8rem;
      font-weight: 700;
    }
  }

  .lastUpdate {
    border-top: solid #000000;
    font-size: .9rem;
    font-style: italic;
    margin-top: 1rem;
    padding-top: .4rem;
  }
}
