@import '../colors';

@mixin controls-font {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}

.controls {
  @include controls-font;

  //border: 1px solid $grey-600;
  //border-radius: 4px;
  // font-size: 1rem;
  // margin: .4rem auto;
  // padding: 0 1rem;
}

.slider {
  padding: 0 1rem;
}

.pick {
  @include controls-font;
}

.icon {
  @include controls-font;
  font-size: 1.7rem;
}

.gamemenuitem,
.gamemenuhead {
  @include controls-font;
}

.gamemenuhead {
  font-weight: 700;
}

.playoffsubheader {
  @include controls-font;
  font-weight: 700;
}
