@mixin controls-font {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}

.slider {
  padding: 0 1rem;
}

.gamepicker {
  padding-right: .4rem;
  width: 100%;

  .pickseason {
    @include controls-font;
  }

  .pickday {
    @include controls-font;
  }

}

.gamemenuitem {
  @include controls-font;

  font-size: .8rem;
}
