@import '../colors';

@mixin controls-font {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}

.controls {
  @include controls-font;
}

.slider {
  padding: 0 .5rem;
}

.dawdle {
  color: $grey-400;
  font-size: .8rem;
}

.pick {
  @include controls-font;
}

.icon {
  @include controls-font;
  font-size: 1.7rem;
}

.gamemenuitem,
.gamemenuhead {
  @include controls-font;
}

.gamemenuhead {
  font-weight: 700;
}

.playoffsubheader {
  @include controls-font;
  font-weight: 700;
}
