@import './colors';

.gridwrap {
  // without this we'll have a horizontal scrollbar
  padding: 4px 8px;
}

.splash {
  .title {
    background-color: $wiggly-green;
    border: 1px solid $grey-600;
    border-radius: 8px;
    font-size: 2rem;
    font-weight: 700;
    margin: 1rem 0;
    padding: 1rem;
    text-align: center;

    .classic {
      color: $grey-400;
      font-style: italic;
    }
  }
}

.subtitle {
  color: $grey-400;
  font-size: 1rem;
  font-style: italic;
  font-weight: 400;
}
