$grey-50: #fafafa;
$grey-100: #f5f5f5;
$grey-200: #eee;
$grey-300: #e0e0e0;
$grey-400: #bdbdbd;
$grey-600: #757575;
$light-green-100: #dcedc8;
$light-green-200: #c5e1a5;
$light-green-800: #558b2f;
$purple-100: #e1bee7;
$purple-200: #ce93d8;
$purple-600: #8e24aa;
$red-100: #ffcdd2;
$red-200: #ef9a9a;
$red-800: #c62828;
$wiggly-green: #4b5a51;
