$controls-border-color: #666;
@mixin controls-font {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}

.controls {
  @include controls-font;

  border: 1px solid $controls-border-color;
  margin: 1rem 0;
  padding: 0 1rem;

  .slider {
    padding: 0 1rem;
  }
}

.gamepicker {
  @include controls-font;
}

.gamemenuitem {
  @include controls-font;

  font-size: .8rem;
}
